.col-lg-center
  %h1= :signup_title.t
  = form_for(:user, url: account_path, html: {id: 'signup_form'}) do |user|
    = formy(:simple_form) do |f|
      - f.row do |r|
        - r.label :username.t
        - r.input user.text_field(:login, class: 'form-control')
      - f.row do |r|
        - r.label :password.t
        - r.input user.password_field(:password, class: 'form-control')
      - f.row do |r|
        - r.label :password_confirmation.t
        - r.input user.password_field(:password_confirmation, class: 'form-control')
      - f.row do |r|
        - r.label :email.t
        - r.input user.text_field(:email, class: 'form-control')
        - unless Conf.require_user_email
          - r.info :signup_email_info.t
      - f.row do |r|
        - r.input user.invisible_captcha :email_confirmation
      - f.button submit_tag(:signup_button.t, class: 'btn btn-primary')

    - if params[:redirect]
      = hidden_field_tag('redirect', params[:redirect])

= javascript_tag 'document.getElementById("user_login").focus();'

